{% load staticfiles %}


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


{# Styles #}

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.growl.css' %}" rel="stylesheet">
    <link href="{% static  'css/lte/AdminLTE.min.css' %}" rel="stylesheet">
    <!--<link href="{% static  'css/lte/skins/_all-skins.min.css"' %}" rel="stylesheet" 
    <link rel="stylesheet" src="{% static 'css/jquery-ui.css' %}" type="text/css" media="all" /> -->

     <!-- for data tables -->
    <link href="{% static  'css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static  'css/responsive.bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static  'css/jquery.datetimepicker.css' %}" rel="stylesheet">
    <link href="{% static  'css/jquery.timepicker.min.css' %}" rel="stylesheet">

    {# In most of cases Project.css and User.css must be at the end of the list #}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <link href="{% static 'css/user.css' %}" rel="stylesheet">
