<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-md-11">
            <h4>Department List</h4>
        </div>
        <button type="button" class="btn btn-primary " data-toggle="modal" data-url="{% url 'department_add' %}" data-list-div="department_list_div" data-list-div-url="{% url 'department_list' %}" data-title="Add Department" data-target=".bs-example-modal-lg">New</button>
    </div>
    <div class="panel-body">
        <table id="department_list_table" class="table table-striped table-bordered hover order-column "cellspacing="0" width="100%">
            <thead>
                <tr class="headings">
                    <th>S.no</th>
                    <th>Deparment</th>
                    <th></th>
                    
                </tr>
            </thead>
            <tbody>
                {% for type in departments %}
                    <tr class="even pointer">
                        <td class=" ">{{ type.id }}</td>
                        <td class=" ">{{ type.title }}</td>
                        
                        
                        <td class="">
                            <button type="button" data-toggle="modal"  class="btn btn-secondary" data-url="{% url 'department_edit' type.id %}" data-list-div="department_list_div" data-list-div-url="{% url 'department_list' %}" data-title="Edit Department" data-target=".bs-example-modal-lg">Edit</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">

$(function () {
    // body...
    $('#department_list_table').dataTable();
})
</script>   