<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-md-11">
            <h4>Experience Slab</h4>
        </div>
        <button type="button" class="btn btn-primary " data-toggle="modal" data-url="{% url 'experience_slab_add' %}" data-list-div="experience_slab_list_div" data-list-div-url="{% url 'experience_slab_list' %}" data-title="Add Experience slab" data-target=".bs-example-modal-lg">New</button>
    </div>
    <div class="panel-body">
        <table id="experience_slab_list_table" class="table table-striped table-bordered hover order-column "cellspacing="0" width="100%">
            <thead>
                <tr class="headings">
                     <th>S.no</th>
                    <th>Experience slab</th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for type in experience_slabs %}
                    <tr class="even pointer">
                        <td class=" ">{{ type.id }}</td>
                        <td class=" ">{{ type.title }}</td>
                        
                        
                        <td class="">
                            <button type="button" data-toggle="modal"  class="btn btn-secondary" data-url="{% url 'experience_slab_edit' type.id %}" data-list-div="experience_slab_list_div" data-list-div-url="{% url 'experience_slab_list' %}" data-title="Edit Billing Type" data-target=".bs-example-modal-lg">Edit</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">

$(function () {
    // body...
    $('#experience_slab_list_table').dataTable();
})
</script>   