<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Logged Users</h4>
    </div>

    <div class="panel panel-default">
        <div class="panel-body" style="overflow:scroll">
            <table id="logged_users_list_table" class="table table-striped table-bordered hover order-column  cellspacing="0" width="100%"">
                <thead>
                    <tr class="headings">
                        <th>Username</th>
                        <th>Event</th>
                        <th>Date</th>
                        <th>Ip Address</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in logged_users %}
                        <tr class="even pointer">
                            <td class=" ">{{ item.username}}</td>
                            <td class=" ">{{ item.event}}</td>
                            <td class=" ">{{ item.created}}</td>
                            <td class=" ">{{ item.ip_address}}</td>
                        </tr>                
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function(){
        $('#logged_users_list_table').dataTable();
    })
</script>