{% load i18n %}
{% load format %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<div id="lead_panels">
	

{% for form_info in lead_task_form_infos %}
	<div class="panel panel-default">
		<div class="panel-body" id="div_lead_task_{{form_info.1}}">
			
			<form action="{% url 'assign_lead' task_id %}" class="lead_task_form" method="post" name="add_lead_task"  class="form-horizontal form-label-left" enctype="multipart/form-data">{% csrf_token %}
				
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						{{ form_info.2.non_field_errors }}
						{{ form_info.2.errors }}

						{{ form_info.2.id }}
						{{ form_info.2.lead |as_crispy_field}}
						{{ form_info.2.filename |as_crispy_field}}
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						{{ form_info.2.no_of_txs |as_crispy_field}}

					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<table class="table table-bordered " id="formset_{{form_info.1}}">
						<thead>
							<tr>
								<th>Experience Slab</th>
								<th>Number of Resources</th>
								<th>Target</th>
							</tr>
						</thead>
						<tbody>
							{% for lead_task_resource_form in form_info.3.forms %} {{lead_task_resource_form.id}}
								{{ lead_task_resource_form.non_field_errors }}
								{{ lead_task_resource_form.errors }}
								<tr>
									<td>{{lead_task_resource_form.experience_slab}}</td>
									<td>{{lead_task_resource_form.number_of_resources}}</td>
									<td>{{lead_task_resource_form.output_count_per_resource}}</td>
									{% if form_info.3.can_delete %}
										<td>{{ lead_task_resource_form.DELETE }}</td>
									{% endif %}
								</tr>
							{% endfor %}
							{{ form_info.3.management_form }}
						</tbody>
					</table>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<input type="submit" text="Save" class="btn btn-success pull-right">
				</div>
			</form>
		</div>
	</div>



	<script type="text/javascript">
		
	$(function  () {

		

			$('#formset_{{form_info.1}} tbody tr').formset({
				prefix: '{{ form_info.3.prefix }}',
				deleteText: 'X',
			});
		// prepare the form when the DOM is ready
		$(document).ready(function() {
			var options = {
			// target:        '#output1',   // target element(s) to be updated with server response
			beforeSubmit:  showRequest,  // pre-submit callback
			success:       showResponse,  // post-submit callback
			
			error: ShowValidation,
			// other available options:
			//url:       url         // override for form's 'action' attribute
			//type:      type        // 'get' or 'post', override for form's 'method' attribute
			//dataType:  null        // 'xml', 'script', or 'json' (expected server response type)
			// clearForm: true ,        // clear all form fields after successful submit
			//resetForm: true        // reset the form after successful submit
			
			// $.ajax options can be used here too, for example:
			//timeout:   3000
			};
			
			// bind form using 'ajaxForm'
			//debugger;
			$('.lead_task_form').ajaxForm(options);
		});
		function ShowValidation(response) {
			// alert(response.responseText);
			error_dict = JSON.parse(response.responseText);
			// debugger;
			for(var error in error_dict)
			{
			$('#div_id_' + error).append('<p style="color:red;" class="task_error">' + error_dict[error] + '</p>') ;
			}
			// resp =JSON.parse(response);
			// body...
		}
		
		// pre-submit callback
		function showRequest(formData, jqForm, options) {
			// formData is an array; here we use $.param to convert it to a string to display it
			// but the form plugin does this for you automatically when it submits the data
			$('.task_error').remove();
			var queryString = $.param(formData);
			
			// jqForm is a jQuery object encapsulating the form element.  To access the
			// DOM element for the form do this:
			// var formElement = jqForm[0];
			
			// alert('About to submit: \n\n' + queryString);
			
			// here we could return false to prevent the form from being submitted;
			// returning anything other than false will allow the form submit to continue
			return true;
		}
		
		// post-submit callback
		function showResponse(responseText, statusText, xhr, $form)  {


		// for normal html responses, the first argument to the success callback
		// is the XMLHttpRequest object's responseText property
		
		// if the ajaxForm method was passed an Options Object with the dataType
		// property set to 'xml' then the first argument to the success callback
		// is the XMLHttpRequest object's responseXML property
		
		// if the ajaxForm method was passed an Options Object with the dataType
		// property set to 'json' then the first argument to the success callback
		// is the json data object returned by the server
		
		// alert('status: ' + statusText + '\n\nresponseText: \n' + responseText +
		//     '\n\nThe output div should have already been updated with the responseText.');
		// Assign handlers immediately after making the request,
		// and remember the jqXHR object for this request
		
		
		// debugger;
		// var response = JSON.parse(responseText);
		// var task_id = response.task_id + "";
		// var url = "{% url 'assign_lead' task_id=0 %}";
		// url = url.replace("0", task_id );
		// var jqxhr = $.ajax( url )
		//   .done(function(response) {
		//     $('#lead_task').append(response);
		//     $('#lead_task').tab('show')
		//     // alert( "success" );
		//   })
		//   .fail(function() {
		//     alert( "error" );
		//   })
		//   .always(function() {
		//     // alert( "complete" );
		//   });
		}
	});

	</script>
{% endfor %}



</div>
	<a href="#" id="add_another">assign another lead</a>

<script type="text/javascript">
	
 $(function  () {
 	// body...

	$('#add_another').click(function(event) {
			/* Act on the event */

			event.preventDefault();

			
		    var url = "{% url 'assign_lead' task_id  %}";
		    
		    var jqxhr = $.ajax( url )
		      .done(function(response) {
		        $('#lead_panels').append(response);

		        // alert( "success" );
		      })
		      .fail(function() {
		        alert( "error" );
		      })
		      .always(function() {
		        // alert( "complete" );
		      });
			

		});
 });
</script>