{% load i18n %} 
{% load staticfiles %} 
{% block head %}
    <style>
        div.dataTables_processing { z-index: 1; }
    </style>
{% endblock %}

 <div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-md-11">  
            <h4>Industry Types</h4>
        </div>
        <button type="button" class="btn btn-primary " data-toggle="modal" data-url="{% url 'industry_add' %}" data-list-div="industry_list_div" data-list-div-url="{% url 'industry_list' %}" data-title="Add Industry Type" data-target=".bs-example-modal-lg">New</button>
    </div>

    <div class="panel-body">
        <table id="industry_type_list_table" class="table table-striped table-bordered hover order-column  cellspacing="0" width="100%"">
            <thead>
                <tr class="headings">
                    <th>Industry Name</th>
                    <th>Slug</th>
                    <th>Descrption</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for industry in industries %}
                <tr class="even pointer">
                    <td class=" ">{{ industry.title }}</td>
                    <td class=" ">{{ industry.slug }} </td>
                    <td class=" ">{{ industry.description }}</td>
                  
                    <td class="last">
                        <button type="button" data-toggle="modal"  class="btn btn-secondary" data-url="{% url 'industry_edit' industry.slug %}" data-list-div="industry_type_list_div" data-list-div-url="{% url 'industry_list' %}" data-title="Edit Industry Type" data-target=".bs-example-modal-lg">Edit</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

</div>
<script type="text/javascript">
    $(function(){
        $('#industry_type_list_table').dataTable({
            
            processing: true,
            serverSide: false,
             
        });
    })

</script>