{% load i18n %}
{% load format %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% if is_edit_mode %}
    
<form id="bankdetailsForm" action="{% url 'bank_details_edit' id %}" method="post" id="bank_details_edit"  class="form-horizontal form-label-left" enctype="multipart/form-data">{% csrf_token %}
{% else %}

<form id="bankdetailsForm" action="{% url 'bank_details_add' %}" method="post" id="bank_details_new"  class="form-horizontal form-label-left" enctype="multipart/form-data">{% csrf_token %}
{% endif %}
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{ form.non_field_errors }}
        <div class="col-xs-4 col-sm-4 col-md-8 col-lg-5">
            {{form.bank_name|as_crispy_field}}
            {{form.account_number|as_crispy_field}}
            {{form.ifsc_code|as_crispy_field}}
            {{form.micr_code|as_crispy_field}}
            {{form.bank_branch|as_crispy_field}}
        </div>
        <div class="col-xs-4 col-sm-4 col-md-5 col-lg-offset-1 col-lg-5">
            {{form.city|as_crispy_field}}
            {{form.state|as_crispy_field}}
            {{form.pincode|as_crispy_field}}
            {{form.addressline1|as_crispy_field}}
            {{form.addressline2|as_crispy_field}}
        </div>
    </div>
    <div id="form_ajax" style="display:none; color:green">
        <span>Form submit successfully.</span>
    </div>
    <input type="submit" value="Submit" class='btn btn-success pull-right' id="sendbutton"/>
    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal" style="margin-left: 5px;">Cancel</button>

    
</form>

<script type="text/javascript">
$(document).ready(function() {
            function block_form() {
                //$("#loading").show();
                $('textarea').attr('disabled', 'disabled');
                $('input').attr('disabled', 'disabled');
            }

            function unblock_form() {
               // $('#loading').hide();
                $('textarea').removeAttr('disabled');
                $('input').removeAttr('disabled');
                $('.errorlist').remove();
            }

            // prepare Options Object for plugin
             var options = {
                beforeSubmit: function(form, options) {
                    // return false to cancel submit
                    block_form();
                },
                success: function(response) {
                    unblock_form();
                    $("#mymodal").modal("hide");
                    alert(response.success_msg)
                    //var success_message = JSON.parse(response.responseText);

                    console.log(success_message.success_msg)
                    
                    setTimeout(function() {
                        $("#form_ajax").hide();
                    }, 5000);
                    

                },
                error:  function(response) {
                    unblock_form();
                    $("#form_ajax_error").show();
                    // render errors in form fields
                    var error_dict = JSON.parse(response.responseText);
                    for (error in error_dict) {
                         $('#div_id_' + error).append('<p style="color:red;" class="bankdetails_error">' + error_dict[error] + '</p>') ;
                    }

                    setTimeout(function() {
                        $("#form_ajax_error").hide();
                    }, 5000);
                },
                clearForm:true
            };

            $('#bankdetailsForm').ajaxForm(options);
        });

</script>
<script type="text/javascript">
    $(document).ready(function() {
            
            //attach keypress to input
            $('#id_account_number').keydown(function(event) {
                // Allow special chars + arrows 
                if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9||event.keyCode == 32 ||event.keyCode == 189 ||event.keyCode == 190  
                    || event.keyCode == 27 || event.keyCode == 13 ||event.keyCode == 187 ||event.keyCode == 107 ||event.keyCode == 109 ||event.keyCode == 51
                    || (event.keyCode == 65 && event.ctrlKey === true) 
                    || (event.keyCode >= 35 && event.keyCode <= 39)){
                        return;
                }else {
                    // If it's not a number stop the keypress
                    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                        event.preventDefault(); 
                    }   
                }
            });
            
        });
</script>